/* Main Section */

#cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
  grid-column-gap: 120px;
  grid-row-gap: 60px;
  justify-content: center;
  margin-top: 3rem;
  padding: 0 1rem;
}

.element-card {
  display: grid;
  justify-items: center;
  padding: 2rem;
  border: white solid 2px;
  border-radius: 15px;
  background: linear-gradient(to top, #244045 20%, transparent), #d3d9da;
  color: white;
  box-shadow: 7px 0 15px rgba(0, 0, 0, 0.3);
}

.element-card__img {
  margin: 0 0 2rem 0;
  width: 100%;
}

.element-card__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element-card__info__title {
  text-transform: capitalize;
  font-size: 2rem;
}

.element-card__info__sword-icon {
  width: 32px;
  height: 32px;
  filter: invert();
}

.element-card__info__sword-icon:hover {
  cursor: pointer;
  content: url('../assets/sword-2.png');
}

.element-card__swords-counter {
  margin: 2rem 0;
  justify-self: end;
}

.element-card__comments-btn {
  width: 100%;
  letter-spacing: 2px;
  transition: 200ms ease;
}

.element-card__comments-btn:hover {
  background-color: #902923;
  color: white;
  transition: 200ms ease;
}

.element-card__comments-btn:hover::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  border: 2px white solid;
}
