@import './_base.css';
@import './_main_content.css';

.nav-bar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 3.5rem 0;
}

.img-container {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  height: auto;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
  object-fit: contain;
}

.nav-links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-links button {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page-footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-top: 1px solid lightgray;
}

.page-footer p {
  font-size: 12px;
  font-weight: 400;
  margin-left: 24px;
}

/* Modal */
.modal-container {
  background-color: white;
  border: 1px solid black;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 350px;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.close-btn {
  padding: 20px 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.close-btn:hover {
  background-color: transparent;
}

.modal-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.info-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 12px;
}

.comments-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}

.comments-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.comments-counter {
  margin-left: 5px;
}

.comments-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.comments-date {
  margin-right: 8px;
}

.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.comments-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  margin-bottom: 12px;
}

.btn-container {
  width: 100%;
}

.comment-btn {
  padding: 8px 12px;
}
